---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Width of the content area
$content-width: 1000px;
$on-phone: 450px;
$on-palm: 660px;
$on-laptop: 1000px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// Do not make any changes to this file. Go to /_sass and find the appropriate SCSS file and make changes there.

// JN: For now, split @import to anable conditional import of CSS. Also. @import may be deprecated soon so plan
// for this change

@import "variables";
@import "footer-social";
@import "webinars";
@import "profile";
@import "footer";
@import "style";
@import "google-fonts";
@import "syntax-highlighting";

.profile {
  border-style: hidden;
}

.register-button {
  border-radius: 12px;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
}

input.register-button:hover {
  background: lightgreen;
  color: black;
}

// Use generate filter with: https://isotropic.co/tool/hex-color-to-css-filter/ 
// color picker: https://www.google.com/search?q=css+color+picker&oq=&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIRCAAQRRg5GEMYgwEYsQMYigUyBggBEEUYOzIPCAIQABhDGIMBGLEDGIoFMg0IAxAAGIMBGLEDGIAEMgkIBBAAGEMYigUyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQgyNjU0ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8
// or https://www.w3schools.com/colors/colors_picker.asp
img.profile.right {
  //width: 100px;
    filter: invert(27%) sepia(69%) saturate(5340%) hue-rotate(211deg) brightness(103%) contrast(107%);
}
